<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1><a href="#">AnyQ</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {{#if session.isAuthenticated}}
        <li {{action 'logout'}}><a href="#">Sign Out</a></li>
      {{else}}
        <li><a href="#">Sign In</a></li>
        <li><a href="#" data-reveal-id="signUpModal">Sign Up</a></li>
      {{/if}}
    </ul>

    <ul class="left">
      <li><a href="#">Dashboard</a></li>
      <li>{{#link-to 'questions.new'}}Questions{{/link-to}}</li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Admin</a></li>
    </ul>
  </section>
</nav>
{{#if session.errors}}
<div data-alert class="alert-box">
  {{session.errors}}
  <a href="#" class="close">&times;</a>
</div>
{{/if}}

<div class="row">
  {{outlet}}
</div>
{{render 'signUpModal'}}
